.project {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 4%;
  padding: 2rem 2rem;
}

.project:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nameProject {
  margin-bottom: 1.5rem;
  text-align: center;
}

.project-desc {
  text-align: justify;
  font-size: 0.9rem;
}

.skills {
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .project {
    font-size: 0.95rem;
  }
}

@media (max-width: 440px) {
  .roject {
    width: 300px;
    height: 300px;
    font-size: 0.8rem;
  }
}
