.project {
	width: 400px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid var(--header-color);
	border-radius: 4%;
	padding: 2rem 2rem;
	transition: transform 0.3s ease, box-shadow 0.3s ease,
		background-color 0.3s ease;
}

.project:hover {
	transform: scale(1.1);
	background-color: var(--project-background);
	cursor: pointer;
}

.nameProject {
	margin-bottom: 1.5rem;
	text-align: center;
	color: var(--subheading-color);
}

.project-desc {
	text-align: justify;
	font-size: 0.9rem;
}

.skills {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	margin: 2rem 1rem;
	flex-wrap: wrap;
}

#skill {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: contain;
}

@media (max-width: 768px) {
	.project {
		font-size: 0.95rem;
	}
}

@media (max-width: 440px) {
	.project {
		width: 300px;
		height: auto;
		font-size: 0.8rem;
	}
}
