#about-button {
	border: 1px solid black;
	width: 110px;
	height: 30px;
	border-radius: 15px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.icon {
	font-size: 20px;
	color: #222222;
}

#about-button:hover {
	cursor: pointer;
	background-color: #4d4d4d;
	color: white;
  .icon{
    color: white;
  }
}
