#about-button {
  border: none;
  background-color: white;
}

.icon {
  font-size: 30px;
  color: black;
  transition: color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.4);
}
