.about-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.profile-pic {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.presentation {
	flex: 1;
	min-width: 300px;
}

.presentation h4 {
	font-size: 1.2rem;
	color: #888;
	margin-bottom: 0.5rem;
}

.presentation h1 {
	font-size: 2.5rem;
	color: #333;
	margin-bottom: 0.5rem;
}

.presentation h3 {
	font-size: 1.5rem;
	color: #555;
	margin-bottom: 1.5rem;
}

.buttons {
	display: flex;
	gap: 1rem;
}

.button {
	border: 1px solid #333;
	padding: 0.75rem 1.5rem;
	color: black;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #999;
}

.about-icons {
	margin-top: 1.5rem;
	display: flex;
	gap: 1rem;
}

.about-icons a {
	color: #444;
	font-size: 1.5rem;
}

@media screen and (max-width: 596px) {
	.about-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
