/* General Navbar Styles */
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

.nav-links {
	display: flex;
	gap: 2rem;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: #333;
	text-decoration: none;
	text-decoration-color: white;
}

.nav-links a:hover {
	color: grey;
	text-decoration: underline;
	text-underline-offset: 0.5rem;
	text-decoration-color: rgb(181, 181, 181);
}
