/* General Styles */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: -5rem;
  text-align: center;
}

.presentation {
  line-height: 1.2;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
}

.intro {
  color: #555;
  font-size: 3.5rem;
}

.name {
  color: #222;
  font-size: 3.5rem;
}

.role {
  font-size: 2rem;
  color: #333;
  margin-top: -1rem;
}

.resume {
  max-width: 600px;
  color: #222;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap; /* Ensure wrapping on smaller screens */
}

/* Button and Icon Styles */
#cv {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cv:hover {
  background-color: #555;
}

.icon {
  color: #333;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #555;
}

/* Media Query for Larger Screens */
@media (min-width: 601px) {
  .presentation {
    font-size: 3.5rem;
  }

  .role {
    font-size: 2.5rem;
  }
}

/* Media Query for Screens 600px and Below */
@media (max-width: 600px) {
  .presentation {
    font-size: 2rem;
  }

  .role {
    font-size: 1.5rem;
  }

  .resume {
    font-size: 0.9rem;
  }
}
