#contact {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	margin: 5rem 2rem 1rem;
}

.footer-links {
	display: flex;
	gap: 2rem;
}

.footer-links a {
	color: var(--text-color);
	text-decoration: none;
	cursor: pointer;
}

.footer-links a:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}

@media (max-width: 768px) {
	#contact {
		display: flex;
		flex-direction: column;
		gap: 0;
		font-size: 0.7rem;
	}
}
