.ham-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--white-color);
	border-bottom: 1px solid var(--header-secundary);
	z-index: 1000;
	padding: 0.5rem 1.5rem;
}

.ham-menu-list {
	display: none;
	position: absolute;
	top: 3rem;
	right: 0;
	background: var(--white-color);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 1rem;
	margin: 0 1rem;
	text-align: center;
}

.ham-menu-list.open {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ham-menu-list ul {
	list-style: none;
}

.icon-button {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	transition: font-size 0.2s ease;
}

.icon-button:hover {
	font-size: 2rem;
}

.ham-menu-list li {
	margin-bottom: 1rem;
}

.ham-menu-list a {
	text-decoration: none;
	color: var(--subheading-color);
	font-weight: 600;
	transition: color 0.2s ease, font-size 0.2s ease, font-weight 0.2s ease;
}

.ham-menu-list a:hover {
	font-weight: bold;
	font-size: 1.1rem;
	text-decoration: underline;
	text-underline-offset: 0.3rem;
	color: var(--header-color);
}
