.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	margin: 1rem auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #faf7f7;
	border-radius: 8px;
	width: 700px;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

.icon-button {
	cursor: pointer;
	transition: font-size 0.2s ease;
}

.icon-button:hover {
	font-size: 2rem;
}

.header-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.ham-menu {
	display: none;
}

.header-list li {
	list-style: none;
}

.header-list a {
	text-decoration: none;
	color: #4a4a4a;
	font-size: 1rem;
	font-weight: 600;
	transition: color 0.2s ease, font-size 0.2s ease, font-weight 0.2s ease;
}

.header-list a:hover {
	font-weight: bold;
	font-size: 1.1rem;
	text-decoration: underline;
	text-underline-offset: 0.3rem;
	color: #000000;
}

@media (max-width: 700px) {
	.header-list {
		display: none;
	}

	.ham-menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
