.skill {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill:hover {
  background-color: #181616;
  color: white;
}

@media (max-width: 768px) {
  .skill {
    font-size: 0.95rem;
  }
}

@media (max-width: 440px) {
  .skill {
    font-size: 0.8rem;
  }
}
