#about-me {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 2rem 2rem;
	scroll-margin-top: 4rem;
}

.about-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

#about-icon {
	font-size: 3rem;
	color: var(--header-color);
}

.about-me-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	flex-wrap: wrap;
	max-width: auto;
	margin-top: 2rem;
}

.about-me-desc p {
	max-width: 600px;
	text-align: justify;
}

#profile {
	width: 200px;
	height: 300px;
	border-radius: 25%;
	object-fit: cover;
}

@media (max-width: 768px) {
	#about-me {
		font-size: 0.95rem;
	}
}

@media (max-width: 440px) {
	#about-me {
		font-size: 0.8rem;
	}
}
